body {
  background: #202020 !important ;
}

.industryIcon{
  color: #fff;
  margin: 0 13px 0 10px;
}
.sidebar{
  height: 100%;
position: absolute;
top: 0;
z-index: 5000;
left: 0;
padding-top: 60px;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
white-space: nowrap;
}
.sidebarIcon{
  padding: 0 20px 0 10px;
}

.hoverdIcon:hover{
color: #53ACFF;
}

.commingsoon:hover:after{
content: "comming soon";
position: absolute;
top: 0;
opacity: 3;
text-align: center;
bottom: 0;
left: 0;
padding-left: 20px;
right: 0;
box-shadow: 0 0 50px #004792;
border-radius: 5px;
filter: drop-shadow(0 0 15px #0076FF) drop-shadow(0 0 50px #004DD7)
contrast(1) brightness(1);
  transition: 8s ease-in-out;
}

.alertHover{
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}
.alertHover:hover{
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.marketradio{
  color: #fff;
  height: 25px;
}
.gradient-text {
  background-image: linear-gradient(to top, #FFFFFF  ,#202020 );
  color: transparent; 
  text-align: center;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}
.listSection::before{
  content: '';
  position: absolute;
  top: -15px;
  left: -10px;
  right: -15px;
  bottom: -15px;
  border-left: #fff 1px solid;
}
.highriskborder::before{
  content: '';
  position: absolute;
  top: -15px;
  bottom: -15px;
  border-right: #414040 1px solid;
}
@media only screen and (max-width: 600px) {
  .alertIcons {
    width: 15px;
    height: 15px;
  }
  .typographyFont{
    font-size: 13px !important;

  }
}
  .navbarLogo::before{
    content: '';
    position: absolute;
    top: 15px;
    left: 60px;
    bottom: 15px;
    border-radius: 5px;
    border-right: 4px #53ACFF solid;
  }
.typographyFont{
  font-size: 20px;
  color: #fff;
  border-right: 1px solid #414040;
  font-weight: 400;
}
.alertIcons{
  margin-right: 20px;
} 
.hoverColor:hover{
  background-color: #53ACFF;
  border-radius: 5px;
  color: #202020 !important;
}
.css-1k076er-MuiTableRow-root {
  margin: 30px;
}
.alert{
  background-color: #313131;
}